.docblock{
	margin: 2em 0em;
}

.signature{
	font-weight: bold;
	color: royalblue;
}
.arg-name{
	font-size: 0.9em;
	display: inline-block;
	width: 10em;
}
.arg-type{
	display: inline-block;
	font-size: 0.9em;
	width: 5em;
	font-weight: bold;
	color: royalblue;
}